<h4><%= link_to "Check your latest tweets", "https://twitter.com/RaghavGilhotra", target: "_blank"%></h4>
<%= render "shared/flash"%>
<h1>Post your tweet!</h1>

<%= form_tag( {controller: "posts", action: "post_tweet"}, {:method => :post}) do %>
  <%= text_area_tag :message, "",cols: 35, rows: 4, required: true%>
  <%= submit_tag "Post", style: "vertical-align: 5px;"%>
<% end %>